body {
	font-family: sans-serif;
	color: #000;
}


.custInput {
	border: solid 1px black;
	margin: 1rem;
	padding: 1rem;
}

/*div {
	display: flex;
	align-items: left;	
	align-content: space-between;
	flex-direction: column;
}*/

.row {
	display: flex;
	margin: 1rem;

}

.label {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.row > input {
/*	width: 70%;*/
	flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
}

.buttonCreate {
	width: 15%;
	background-color: #ccc;
}

button {
	width: 15%;
	background-color: #ccc;
}

#custNameErr {
	color: red;
}

#custEmailErr {
	color: red;
}

.blackBoxVIPS {
	background-color: #000;
	margin: 1rem;
	padding: 1.5rem;
	border-radius: 1rem;
	color: #fff;
}

.customerRows {

}

.vipRow {
	background-color: dodgerBlue;
	margin: .5rem;
	padding: 1.5rem;
	color: #fff;
}

.nonvipRow {
	margin: .5rem;
	padding: 1.5rem;
	color: #000;
}